extends ../../layouts/manage
block content 
    h2 Books 
    p
        a(href='/manages/books/add') Add Book 
    table
        thead 
            tr
                th(width="300") ID 
                th Book
                th(width="150") Category
                th(width="150")
                th 
        tbody
            each book in books
                tr 
                    td=book._id 
                    td=book.title
                    td=book.category
                    td
                        a(href='/manages/books/edit/' + book._id) Edit
                    td  
                        form(method='post' action='/manages/books/delete/' + book._id)
                            div(class='row')
                                input(type="submit" value='Delete' class='button alert' style='margin:0')
                                input(type="hidden" name='_csrf' value=_csrf)
                                input(type="hidden" name='_method' value=DELETE)



